---
permalink: /quantum-news-monthly/
title: "Quantum News Monthly"
author_profile: true
---

Debopriyo Biswas and I have been making this Youtube series. We make 10-15 min video on exciting news and publications in the field of quantum physics and quantum computing each month. Click title for a brief summary!

{% include base_path %}
<!-- {% capture written_year %}'None'{% endcapture %} -->
{% for post in site.posts %}
  {%if post.qnm %}
  {% include archive-single.html %}
  {% endif %}
{% endfor %}
